# dotfiles
*

!.tmux.conf
!.zshrc
!.gitconfig
!.gitignore
!README.md


!.config/
!.config/lazygit/
!.config/posting/
!.config/fuzzel/
!.config/ghostty/
!.config/niri/
!.config/quickshell/
!.config/niri/dms/

# niri config
!.config/niri/config.kdl
!.config/niri/dms/alttab.kdl
!.config/niri/dms/binds.kdl
!.config/niri/dms/colors.kdl
!.config/niri/dms/layout.kdl
!.config/niri/dms/wpblur.kdl

# ghostty config
!.config/ghostty/themes/
!.config/ghostty/change-theme.sh
!.config/ghostty/config

# fuzzel config
!.config/fuzzel/fuzzel.ini

# lazygit config 
!.config/lazygit/config.yml

# posting config / theme
!.config/posting/config.yaml
!.config/posting/soda.yaml

# DankMaterialShell config
!.config/quickshell/dms


# ghostty themes 
!.config/ghostty/themes/catppuccin-frappe.conf
!.config/ghostty/themes/catppuccin-latte.conf
!.config/ghostty/themes/catppuccin-macchiato.conf
!.config/ghostty/themes/catppuccin-mocha.conf
!.config/ghostty/themes/curent-theme.conf
!.config/ghostty/themes/monokai-classic.conf
!.config/ghostty/themes/monokai-pro.conf
!.config/ghostty/themes/monokai-ristretto.conf
!.config/ghostty/themes/monokai-soda.conf
