// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction


hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb {
            layout "us,ara"
            options "ctrl:nocaps"
        }

        track-layout "global"
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    trackpoint { off; }
    mouse {
        accel-profile "flat"
        accel-speed 0.9
        scroll-factor 0.9
    }
}

config-notification {
    disable-failed
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {

    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
	
	default-column-width { proportion 0.3; }
    default-window-height { proportion 0.3; }
}

// window-rule {
//
//     match app-id=r#"steam$"# 
//     block-out-from "screencast"
// }

window-rule {

    match app-id=r#"steam$"# title="^Steam Big Picture Mode$"
    open-fullscreen true
    block-out-from "screencast"
}

window-rule {

    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
	open-focused false
}

window-rule {

    match app-id=r#"org.quickshell$"#
    open-floating false
}

layer-rule {

    match namespace="dms:notification-popup"
    block-out-from "screencast"
}

window-rule {

    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    match title="Kando Menu"
    open-floating true
    focus-ring { off; }
    border { off; }
    shadow { off; }
    default-floating-position x=0 y=0
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}


window-rule {
    match app-id=r#"zen$"#

    background-effect {
        blur true
        xray true
    }
}

binds {
    Mod+1 { set-dynamic-cast-window; }
    Mod+2 { set-dynamic-cast-monitor; }
    Mod+3 { clear-dynamic-cast-target; }
}

include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/wpblur.kdl"
include "dms/cursor.kdl"
include "dms/outputs.kdl"

include "dms/windowrules.kdl"
